<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<title th:text="${title}"></title>
</head>
<body>
	<section>
		<!-- bg-secondary text-white // put in card -->
		<div class="card mr-3 ml-5 ">
			<div class="card-body">
				<h1 class="text-center">My Contacts</h1>


				<div class="search-container my-4">
					<input onkeyup="search()" id="search-input" type="text" class="form-control"
						placeholder="search contacts" />
					<div class="search-result">
					<!-- search result show here -->
					</div>
				</div>



				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">S.No</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tr th:each="c : ${contacts}">
						<td scope="row" th:text="'CMUSER'+ ${c.cid}"></td>
						<td><img src="" class="my_profile"
							th:src="@{'/img/'+${c.image}}" alt="profile photo" /> <span
							th:text="${c.name}"> </span></td>


						<td><a href="#" th:href="@{'/user/'+${c.cid}+'/contact'}">
								<span th:text="${c.email}"> </span>

						</a></td>
						<td th:text="${c.phone}"></td>
						<td><a th:onclick="|deleteContact(${c.cid})|"
							class="btn btn-danger btn-sm">Delete</a> <a
							th:href="@{'/user/add-contact/'+${c.cid}}"
							class="btn btn-primary btn-sm">Update</a></td>

					</tr>
					</tbody>
				</table>


				<!-- pagination implementation -->
				<nav aria-label="..." class="mr-4 mt-1">
					<ul class="pagination">
						<li th:if="${currentPage != 0}" class="page-item "><a
							th:href="@{'/user/view-contact/'+${currentPage-1}}"
							class="page-link" href="#" tabindex="-1">Previous</a></li>

						<li th:classappend="${currentPage == i-1?'active':''}"
							th:each="i : ${#numbers.sequence(1,totalPages)}"
							class="page-item"><a
							th:href="@{'/user/view-contact/'+${i-1}}" class="page-link"
							href="#"><span th:text="${i}"></span></a></li>

						<li th:if="${currentPage+1 != totalPages}" class="page-item"><a
							class="page-link" href="#"
							th:href="@{'/user/view-contact/'+${currentPage+1}}">Next</a></li>
					</ul>
				</nav>
			</div>

		</div>


	</section>
</body>
</html>




