<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<title>This is about page</title>
</head>
<body>
	<section>
		<div class="container">


			<div class="card">

				<div class="card-body">
					<div class="container text-center"></div>
					<h1
						class="text-center mt-3 text-secondary font-italic font-weight-light">About
						Us</h1>
				</div>
			</div>
			<div class="card mt-3">

				<div class="card-body">
					<div class="container text-center">
						<h3 class="my-3">Contact manager</h3>

						<p>We can easily store all contact information at single
							point.</p>
						<p>Incorporates user friendly interface and easily accessible.</p>
					</div>
				</div>

			</div>

			<div class="card mt-5">

				<div class="card-body">
					<div class="container text-center">
						<h3 class="my-3">Designed and Developed By:</h3>

						<h4 style="color:red;">Tejaswi Kumar</h4>
					</div>
				</div>

			</div>
		</div>
		</div>


	</section>
</body>
</html>