<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<title th:text="${title}"></title>
</head>
<body>
	<section class="vh-100" style="background-color: #508bfc;">
		<div class="container py-5 h-93">
			<div
				class="mask d-flex justify-content-center align-items-center h-100">
				<div class="col-12 col-md- col-lg-7 col-xl-6">
					<div class="card shadow-2-strong" style="border-radius: 1rem;">
						<div class="card-body p-4 ">

							<div class="alert alert-success mt-3" role="alert">otp sent
								to email successfully!!!</div>

							<!-- messsage box of add contact page -->


							<div th:if="${session.message}" class="container ">
								<div class="alert alert-danger my-2 text-center" role="alert">
									<span th:text="${session.message}"></span>
								</div>
								<th:block th:text="${#session.removeAttribute('message')}"></th:block>
							</div>

							<form id="login-form" class="form" th:action="@{/verify-otp}"
								method="post">
								<div class="form-outline mb-4">

									<input type="text" name="otp" id="typeEmailX-2"
										placeholder="Enter your otp here"
										class="form-control form-control-lg" required />
								</div>
								<div class="container text-center">
									<button class="btn btn-primary " type="submit">Submit
										Otp</button>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>